.singleProduct{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 6;
}


.singleProduct-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-singleProduct{
    display: flex;
    align-items: center; 
    margin: 6rem 5rem 0 5rem ;
}

.singleProduct-img{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 380px;
    height: 350px;
    /*position: relative;*/
    top: 7.2rem;
    left: 5rem;  
}

.singleProduct-imgConjunto{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 110px;
    height: 100px;
    /*position: relative;*/
    top: 8rem;
    left: 5rem;
}

.singleProduct-right{
    flex: 2;
}

