.header-eve{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    background-color: #0000000a;
}

.leftheader{
    display: flex;
    justify-content: left; 
}

.logoheader{
    width: 4.5rem;
    height: 3.4rem;
    flex-shrink: 0;
    margin: 1rem;
}

.centerheader{
    display: flex;
    margin: 1rem 1rem 1rem 12rem;
    /*justify-content: center;
    align-self:center;*/
}

.categorie-eve{
    align-items: center;
    margin: 0 2rem;
    color: whitesmoke;
    font-weight: 400;
    font-size: 16px;
    padding: 0.625rem;
}

.categorie-eve:hover{
    color: wheat;
}

.rightheader{
    display: flex;
    margin: 0 1rem 0 8rem ;
}


.logIn-eve,
.register-eve{
    align-items: center;
    margin: 0 .7rem;
    color: whitesmoke;
    font-weight: 400;
    font-size: 16px;
    padding: 0.625rem;
}


.logIn-eve{
    border: 1.5px solid whitesmoke ;
    border-radius: 5px;
}

.logIn-eve:hover{
    border: 1.5px solid wheat;
    color: wheat;
}

.register-eve{
    background-color: #73351f9d;
    color: whitesmoke;
    border-radius: 7px;
}

.register-eve:hover{
    background-color: #b95531;
}
